#header {
   background-color: #002147;
   font-size: 1.5em;
   color: white;
   width: 75%;
   margin: auto;
   padding: 5%;
   border-radius: 10px;
}

#footer {
   background-color: #6381C0;
   width: 75%;
   margin: auto;
   padding: 5%;
   border-radius: 10px;
}

#file {
   width: 75%;
   margin: auto;
   padding: 5%;
   border-radius: 10px;
}

h2 {
   font-size: 1.5em;
   text-align: left;
}

body {
   background-color: #E0EAF2;
   font-family: Arial, sans-serif;
   font-size: 1em;
   text-align: center;
}
